Pillow==10.0.1

altgraph==0.17.4
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
distlib==0.3.7
docutils==0.20.1
filelock==3.12.4
idna==3.4
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
musicalbeeps==0.2.9
numpy==1.25.2
packaging==23.2
pefile==2023.2.7
platformdirs==3.11.0
PyChromeDevTools==0.4
pyfiglet==0.8.post1
Pygments==2.16.1
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
pypiwin32==223
pypng==0.20220715.0
pywin32==306
pywin32-ctypes==0.2.2
qrcode==7.4.2
requests==2.31.0
simpleaudio==1.0.4
typing_extensions==4.7.1
urllib3==2.0.4
virtualenv==20.24.5
websocket-client==1.6.2
